<div class="jumbotron">
    <h1>Contact Records CRUD OPs API Test</h1>
    <p class="lead">This is a API RESTful Testing Using Web Api 2, .NET Framework and Entity DB access Method </p>
    
</div>


